body{
  /* background-color: purple; */
  background-image: url('Assets/CityBeach.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #0396A6;
}


h1{
  text-align: center;
}
p{text-align: center;color: #A68692;
}
li{text-align: center;color: #A68692;
list-style-type: none;

}


.box{
  /* background-color: pink */
  background-image:linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
  opacity: 0.5;
  /* background-color:rgb(204,41,54,0.20); */
  /* box-shadow:20px 20px 20px 20px blue; */
  border-radius: 10px;
}
