

.flex-center{
  display: flex;
  justify-content: center;
}



.container-1{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 600px;
  height: 600px;
}

.break{
height: 50px;
}

.flex-right{
  display: flex;
  justify-content: center;

}

.container-2{
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}


.break2{
height: 20px;
}

  .flex-right{
    display: flex;
    justify-content: center;

  }

.container-3{
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.break3{
height: 50px;
}

.flex-right2{
  display: flex;
  align-items:flex-end;
}

.container-4{
  display: flex;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

}



.item{
    height: 50px;
    /* width: 20%; */
    flex:1;
    text-align: center;
}

.item-fixed{
  height: 50px;
  width: 300px;


}





  /* Utility Classes */
.red-bg{
  background-color: red;
}

.blue-bg{
  background-color: blue;
}

.green-bg{
  background-color: green;

}

.pink-bg{
  background-color: pink;

}

.yellow-bg{
  background-color: yellow;

}
